html,
body {
  height: 100%;
  margin: 0;
}

body {
  padding: 0;
  background-color: #fbfafa;
}

.title {
  width: 100%;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px;
}

/* Hide mapbox content */
.mapboxgl-ctrl-logo {
  display: none !important;
}

.mapboxgl-ctrl-attrib {
  display: none;
}

/* Carroussel */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: 0 auto;
}

figure {
  display: none;
  margin: 0 auto;
  text-align: center;
  max-width: 750px;
}

img {
  border-radius: 25px;
}

/* Caption text */
figcaption {
  display: block;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  padding: 8px 12px;
  position: relative;
  bottom: 40px;
  width: 100%;
  text-align: center;
}

/* Next & Previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 45%;
  font-size: 1.5em;
  border-radius: 50%;
  color: black;
}

/* Position the "next button" to the right */
.next {
  right: 0;
}

/* Play/Pause button */
.btnPausePosition {
  position: relative;
  margin: 0 auto;
  text-align: center;
  width: 50%;
}

.btnPause {
  cursor: pointer;
  font-size: 1em;
  border-radius: 50%;
  padding: 15px;
  color: black;
}

.prev:hover,
.next:hover,
.btnPause:hover {
  background-color: white;
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1),
    inset 0 -1px 0 rgba(0, 0, 0, 0.07);
}

.map {
  display: block;
  position: absolute;
  top: 595px;
  width: 100%;
  height: 720px;
}

.marker-green,
.marker-red,
.marker-closed {
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(77, 181, 70);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
}

.marker-green {
  background-image: url('../ico/material_bike.svg');
  background-color: rgb(77, 181, 70);
}

.marker-red {
  background-image: url('../ico/material_bike.svg');
  background-color: rgb(233, 67, 53);
}

.marker-closed {
  background-image: url('../ico/build.svg');
  background-color: rgb(233, 67, 53);
}

/* reservation window */
.titre_dispo {
  padding: 3px;
  color: white;
  background-color: #4a4a4a;
  text-transform: uppercase;
  font-weight: bold;
}

.reservation {
  z-index: 10;
  display: none;
  float: right;
  background-color: white;
  text-align: center;
  width: 300px;
  height: 520px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.stationCard p {
  padding: 10px 15px;
}

/* Close window btn */
.delete {
  z-index: 1;
  position: absolute;
  top: 5px;
  right: 5px;
}

p {
  font-size: 0.8em;
  text-transform: uppercase;
}

/* Bikes/Parking availabilities */
.message {
  margin-bottom: 0px !important;
}

.availabilities {
  display: flex;
  align-items: center;
  justify-content: center;
}

.availabilities > .icon {
  border: 2px solid rgb(77, 181, 70);
  border-radius: 50%;
  margin: 5px;
  font-weight: bold;
}

/* Formulaire */
form {
  padding: 0 15px 10px 15px;
}

.field {
  margin-top: 10px;
}

/* Canvas */
.signature {
  padding: 15px;
}

.signature p {
  font-weight: bold;
}

.row > .signature {
  position: relative;
  display: block;
  margin-left: 10px;
}

.reservation .sig-canvas {
  display: block;
  margin: 0 auto;
  border: 2px dotted #cccccc;
  border-radius: 15px;
  cursor: crosshair;
}

/* Eraser btn */
.sig-clearBtn {
  cursor: pointer;
  position: relative;
  left: 5%;
}

/* Validation btn */
.sig-submitBtn {
  position: relative;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  background-color: rgb(77, 181, 70) !important;
  font-weight: bold;
}

/* Validation banner */
.timer {
  display: none;
  position: fixed;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  font-weight: bold;
  bottom: 0;
}

/* Version mobile */
@media screen and (max-width: 480px) {
  /* reservation window */
  .title {
    font-size: 1.1rem;
  }

  .reservation {
    position: absolute;
    margin: 0 auto;
    bottom: 0;
    height: 450px;
    right: 8.5%;
  }

  .map {
    display: block;
    position: relative;
    top: 0;
    width: 100%;
    height: 450px;
  }

  .stationCard p {
    padding: 0px;
  }

  .availabilities {
    padding: 5px;
  }

  .timer {
    position: inherit;
    display: block;
    margin: 0 auto;
    bottom: 0;
  }
}

/* Version tablette */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .map {
    height: 468px;
  }

  .stationCard p {
    padding: 0px;
  }

  .availabilities {
    padding: 5px;
  }
}
